* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #65b2ff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.certbor {
  border: 5px solid #d8d0ff;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.parallax {
  /* The image used */
  background-image: url("medoingmestuff.gif");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column1{
  float: left;
  width: 100%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.column3 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/*Navbar*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 5;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
    margin: 3px 33px;
    
}
#navbar ul li a{
    display: block;
    padding: 4px 10px ;
    text-decoration: none;
    color: white;
    border-radius: 22px;
    transition: all .2s ease-in  ;
}
#navbar ul li a:hover{
    color: white;
    background-color: #ee55b4;
}
